/* 他のCSSを追加 */
@import url(sanitize.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap'); /* Roboto font */

/* ドロワーナビゲーション */
#nav {
    position: fixed;
    right: -270px;
    top: 0;
    width: 270px;
    height: 100%;
    z-index: 100;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

#wrapper {
    z-index: 200;
}

.show {
    transform: translate3d(-270px, 0, 0);
}



/* ヘッダー */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:rgb(29, 25, 25);
    color: white;
    border-bottom: 10px solid yellow;
}

.title-block h1 {
    margin-top: 16px;
    margin-left: 16px;
    font-size: 32px;
}

.title-block h2 {
    margin-left: 24px;
    font-size: 16px;
}


/* メニュー */
.hamburger {
    flex: 0 0 32px;
    align-self: center;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
}

#nav {
    padding: 24px 24px 0 24px;
    background-color: black;
    color: white;
}

.log {
    margin: 0;
    padding: 0;
}

.logo img {
    width: 270px;
}



/* ボディ */
#inference li {
    list-style: none;
    margin-top: 15px;
    background-color: slategray;
}

li:first-of-type {
    margin-top: 0px;
}

#inference figure {
    margin: 0;
}

#inference figcaption {
    text-align: center;
}

#inference img {
    max-width: 100%;
    max-height: 100%;
}

#inference .pair_block {
    display: flexbox;
    padding-top: 0;
    padding-bottom: 0;
}


/* Cookie */
#cookie_panel {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding-top: 10px;
    width: 100%;
    background-color: rgba(32, 32, 32, 0.7);
    z-index: 200;
    color: white;
}

#cookie_panel p {
    margin-right: 10 px;
    text-align: left;
}

#btn_cookie_agree {
    margin: 15px;
    padding: 0;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

#btn_cookie_reject {
    margin: 15px;
    padding: 0;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}